In [1]:
import pandas as pd
import numpy as np
import os.path

In [6]:
houses = pd.read_csv('houses',skiprows=0,sep=',',header=0)
print(houses.to_string())

    number         name   dob  lived_until
0        1   MarkRothko  1945         2006
1        2   Archemedes  1943         2392
2        3      DaVinci  1976         2056
3        4  JackKerouac  1965         2076
4        5   SylviaPath  1932         2049
5        6  Bottechelli  1971         2049
6        7     Einstein  1954         2048
7        8    NeilsBohr  1943         2048
8        9   Pythagoras  1892         2578
9       10  WaltWhitman  1932         2005
10      11  AdolfHitler  1900         1945
11      12       PolPot  1829         1955
12      13  Rockafeller  1957         2050

In [100]:
houses['agedeath'] = houses['lived_until'] -houses['dob']
'''for x in houses.index:
  if houses.loc[x, "dob"] > 50:
    houses.loc[x, "dob"] = 100'''
print(houses.to_string())

    number         name   dob  lived_until  agedeath
0        1   MarkRothko  1945         2006        61
1        2   Archemedes  1943         2392       449
2        3      DaVinci  1976         2056        80
3        4  JackKerouac  1965         2076       111
4        5   SylviaPath  1932         2049       117
5        6  Bottechelli  1971         2049        78
6        7     Einstein  1954         2048        94
7        8    NeilsBohr  1943         2048       105
8        9   Pythagoras  1892         2578       686
9       10  WaltWhitman  1932         2005        73
10      11  AdolfHitler  1900         1945        45
11      12       PolPot  1829         1955       126
12      13  Rockafeller  1957         2050        93

In [101]:
#eliminate anyone that wasn't alive in 1956
eliminateab = houses[(houses.dob<=1956) & (houses.lived_until>=1956)]
print(eliminateab)

   number         name   dob  lived_until  agedeath
0       1   MarkRothko  1945         2006        61
1       2   Archemedes  1943         2392       449
4       5   SylviaPath  1932         2049       117
6       7     Einstein  1954         2048        94
7       8    NeilsBohr  1943         2048       105
8       9   Pythagoras  1892         2578       686
9      10  WaltWhitman  1932         2005        73

In [78]:
number_of_people = eliminateab.name.value_counts()
print(len(eliminateab.index),"people alive in 1956")

7 people alive in 1956

In [117]:
#Add new coloumn to display age of person in 1956 from original dataframe
houses['age1956'] = (1956) -houses['dob']
print(houses.to_string())

    number         name   dob  lived_until  agedeath  age1956
0        1   MarkRothko  1945         2006        61       11
1        2   Archemedes  1943         2392       449       13
2        3      DaVinci  1976         2056        80      -20
3        4  JackKerouac  1965         2076       111       -9
4        5   SylviaPath  1932         2049       117       24
5        6  Bottechelli  1971         2049        78      -15
6        7     Einstein  1954         2048        94        2
7        8    NeilsBohr  1943         2048       105       13
8        9   Pythagoras  1892         2578       686       64
9       10  WaltWhitman  1932         2005        73       24
10      11  AdolfHitler  1900         1945        45       56
11      12       PolPot  1829         1955       126      127
12      13  Rockafeller  1957         2050        93       -1

In [121]:
#New dataset displaying people eliminated based on negative ages at 1956
eliminated = houses['age1956'] >= 0.0
eliminatedhouses = houses[eliminated]
print(eliminatedhouses.to_string())

    number         name   dob  lived_until  agedeath  age1956
0        1   MarkRothko  1945         2006        61       11
1        2   Archemedes  1943         2392       449       13
4        5   SylviaPath  1932         2049       117       24
6        7     Einstein  1954         2048        94        2
7        8    NeilsBohr  1943         2048       105       13
8        9   Pythagoras  1892         2578       686       64
9       10  WaltWhitman  1932         2005        73       24
10      11  AdolfHitler  1900         1945        45       56
11      12       PolPot  1829         1955       126      127

In [127]:
#Count number of people that were the same age range in 1956
number_of_age = eliminatedhouses.age1956.value_counts(bins=5).sort_index()
number_of_age.head()

(1.874, 27.0]     6
(27.0, 52.0]      0
(52.0, 77.0]      2
(77.0, 102.0]     0
(102.0, 127.0]    1
Name: age1956, dtype: int64

In [130]:
number_of_age = eliminatedhouses.age1956.value_counts().sort_index(ascending=False)
number_of_age.head()

127    1
64     1
56     1
24     2
13     2
Name: age1956, dtype: int64

In [135]:
#hi
maxAgeAt1956 = None
maxAgeAt1956 = houses['age1956'].max()
print("The oldest person in 1956 was",maxAgeAt1956)

The oldest person in 1956 was 127