In [2]:
import pandas as pd
import numpy as np
import os.path

In [3]:
temparature_df = pd.read_csv('boulder_temperature.txt',header=None,sep=r"\s+",usecols=[0,1,2,3,4],index_col=[0,1,2],names=["year", "month", "day", "maximum_temp", "minimum_temp"])
print(temparature_df)

                maximum_temp  minimum_temp
year month day
1897 5     1              71            49
           2              71            54
           3              67            48
           4              69            46
           5              68            51
...                      ...           ...
2018 7     26             81            55
           27             80            56
           28             77            56
           29             75            52
           30             77            51

[44253 rows x 2 columns]

In [4]:
precipitation_df = pd.read_csv('boulder_precipitation.txt',header=None,sep=r"\s+",usecols=[0,1,2,3,4],index_col=[0,1,2],names=["year", "month", "day", "precipitation",  "snow", "snow_cover"])
print(precipitation_df)

                precipitation  snow
year month day
1948 8     1             0.01   0.0
           2             0.01   0.0
           3             0.02   0.0
           4             0.12   0.0
           5             0.04   0.0
...                       ...   ...
2018 7     26            0.07   0.0
           27            0.35   0.0
           28            0.01   0.0
           29            0.04   0.0
           30            0.00   0.0

[25608 rows x 2 columns]

In [5]:

For merging : how='outer’,.sort_values(['year', 'month', 'day'], ascending=False)\
                                .fillna(0)

SyntaxError: invalid syntax (<ipython-input-5-2105413fbf5e>, line 1)

In [6]:
Whole_df = temparature_df.merge(precipitation_df,how='outer',on=['year', 'month', 'day'])
print(Whole_df)

                maximum_temp  minimum_temp  precipitation  snow
year month day
1897 5     1              71            49            NaN   NaN
           2              71            54            NaN   NaN
           3              67            48            NaN   NaN
           4              69            46            NaN   NaN
           5              68            51            NaN   NaN
...                      ...           ...            ...   ...
2018 7     26             81            55           0.07   0.0
           27             80            56           0.35   0.0
           28             77            56           0.01   0.0
           29             75            52           0.04   0.0
           30             77            51           0.00   0.0

[44253 rows x 4 columns]

In [7]:
Whole_df.to_csv(r'tempprecip.txt', header=None, index=None, sep=',')

In [8]:
Whole_df = Whole_df.fillna(0)
print(Whole_df)

                maximum_temp  minimum_temp  precipitation  snow
year month day
1897 5     1              71            49           0.00   0.0
           2              71            54           0.00   0.0
           3              67            48           0.00   0.0
           4              69            46           0.00   0.0
           5              68            51           0.00   0.0
...                      ...           ...            ...   ...
2018 7     26             81            55           0.07   0.0
           27             80            56           0.35   0.0
           28             77            56           0.01   0.0
           29             75            52           0.04   0.0
           30             77            51           0.00   0.0

[44253 rows x 4 columns]

In [9]:
Whole_df.sort_values(by=['year','month','day'], inplace=True, ascending=False)
print(Whole_df)

                maximum_temp  minimum_temp  precipitation  snow
year month day
2018 7     30             77            51           0.00   0.0
           29             75            52           0.04   0.0
           28             77            56           0.01   0.0
           27             80            56           0.35   0.0
           26             81            55           0.07   0.0
...                      ...           ...            ...   ...
1897 5     5              68            51           0.00   0.0
           4              69            46           0.00   0.0
           3              67            48           0.00   0.0
           2              71            54           0.00   0.0
           1              71            49           0.00   0.0

[44253 rows x 4 columns]

In [11]:
#Finding maximum value in year coloumn after making it return a list. Then making a query with last decade
yearlist = Whole_df.index.get_level_values('year')
maxval = yearlist[1]
minval = maxval - 10
 
rangedf = Whole_df.query('year >= '+ str(minval))
print(rangedf)

                maximum_temp  minimum_temp  precipitation  snow
year month day
2018 7     30             77            51           0.00   0.0
           29             75            52           0.04   0.0
           28             77            56           0.01   0.0
           27             80            56           0.35   0.0
           26             81            55           0.07   0.0
...                      ...           ...            ...   ...
2008 1     5              61            38        -999.00   0.0
           4              56            41           0.00   0.0
           3              57            24           0.00   0.0
           2              39             7           0.00   0.0
           1              30            12           0.00   0.0

[3872 rows x 4 columns]

In [22]:
#Finds average max and min temperatures for each month for last 10 years
d1 = {'maximum_temp': 'max', 'minimum_temp': 'min', 'precipitation': 'sum', 'snow': 'sum'}
d2 = {'maximum_temp': 'mean', 'minimum_temp': 'mean', 'precipitation': 'mean', 'snow': 'mean'}

meandf = rangedf.groupby(['year','month']).agg(d2)
#meanDFtwo = rangedf.groupby(['year','month'])['maximum_temp','minimum_temp','precipitation','snow'].aggregate('mean')
print(meandf)

            maximum_temp  minimum_temp  precipitation        snow
year month
2008 1         43.419355     19.838710    -193.340000 -128.570968
     2         49.517241     22.689655    -241.116207 -206.331034
     3         54.032258     27.483871     -96.630000  -63.883871
     4         63.033333     32.566667     -99.862333  -99.636667
     5         71.580645     42.483871    -128.767419  -64.429032
...                  ...           ...            ...         ...
2018 3         57.935484     28.774194       0.071935  -32.006452
     4         64.666667     33.533333    -133.155000 -133.000000
     5         73.516129     45.903226     -64.298065    0.000000
     6         86.000000     53.700000     -99.839333    0.000000
     7         88.266667     57.066667     -99.838667    0.000000

[127 rows x 4 columns]

In [24]:
#Finds average max and min temperatures for each day for last 10 years
meanDFbyday = rangedf.groupby(['month','day']).agg(d2)
print(meanDFbyday)

           maximum_temp  minimum_temp  precipitation        snow
month day
1     1       37.363636     15.545455       0.000909    0.009091
      2       46.090909     16.090909       0.000000    0.000000
      3       46.000000     19.727273       0.005455    0.109091
      4       42.909091     17.545455       0.073636    1.600000
      5       46.181818     19.272727     -90.749091    0.936364
...                 ...           ...            ...         ...
12    27      41.600000     13.000000    -199.799000 -199.790000
      28      46.300000     20.500000    -199.800000  -99.890000
      29      42.800000     19.800000       0.019000    0.480000
      30      44.600000     17.800000     -99.859000    0.830000
      31      39.400000     12.900000     -99.885000  -99.660000

[366 rows x 4 columns]